<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<style>
    #middle_div{
        margin-top: 100px;
        border: 1px solid #333; /* Light black border */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Light black shadow */
        padding: 20px; /* Padding for inner content */
        background-color: #fff; /* White background */
    }
</style>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registration and
                Login Module</a>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div id="middle_div" class = "col-md-6 col-md-offset-3 rounded border border-light shadow p-3 mb-5 bg-white">

            <h1> <b>User Login Page</b> </h1>
            <form th:action="@{/login}" method="post">

                <!-- error message -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or
                        password.</div>
                </div>
                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="alert alert-success">You have been logged out.</div>
                </div>

<!--                Password changed alert-->
<!--                <div th:if="${param.success}" class="alert alert-success">-->
<!--                   <p th:text="${param.success}"></p>-->
<!--                </div>-->

                <div class = "form-group">
                    <label for ="username"> Username </label> :
                    <input type="text" class = "form-control" id ="username" name = "username"
                           placeholder="Enter Email ID" autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password"  id="password" name="password" class="form-control"
                           placeholder="Enter Password" />
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="Log In" />
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="form-group">
						<span>New user? <a href="/" th:href="@{/registration}">Register
								here</a></span>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <span  > <a  th:href="@{/forget}">Forget Password?</a></span>
            </div>

        </div>
    </div>
</div>
</body>
</html>